<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>crud_samuel</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet> 
		<servlet-name>AdicionarHeroi</servlet-name> 
		<servlet-class> servlet.AdicionarHeroi </servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>AdicionarHeroi</servlet-name> 
		<url-pattern>/AdicionarHeroi</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>EditarHeroi</servlet-name> 
		<servlet-class> servlet.EditarHeroi </servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>EditarHeroi</servlet-name> 
		<url-pattern>/EditarHeroi</url-pattern> 
	</servlet-mapping>
	
	<servlet> 
		<servlet-name>ExcluirHeroi</servlet-name> 
		<servlet-class> servlet.ExcluirHeroi </servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>ExcluirHeroi</servlet-name> 
		<url-pattern>/ExcluirHeroi</url-pattern> 
	</servlet-mapping>
</web-app>